@page "/listado-actividad-social"
@using SARASWEB.Frontend.Wasm.Components.ActividadEconomicaSocial
@inject ITransferenciaPropiaControlador controlador
@inject IProductoAplicacion productoAplicacion
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <HeadPageComponent Titulo="SARAS" Categoria="Configuración de actividades y destinos económicos" Pagina="Actividad económica social" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Agregar nuevo actividad económica
                    </button>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div id="progressbarwizard">
                                <WizardPestañasActividadEconomicaSocialComponent Wizard="controlador.Wizard" ErrorColor="ErrorColor" />
                                <div class="tab-content b-0 mb-0">

                                    <WizardHeadActividadEconomicaSocialComponent BarraPorcentaje="@controlador.BarraPorcentaje"
                                                                                 MostrarLoader="controlador.MostrarLoader" />

                                    <FrmActividadEconomicaSocialComponent Wizard="controlador.Wizard"
                                                                          propiaFrmDTO="propiaFrmDTO"
                                                                          CuentasDTO="cuentasDTO"
                                                                          Siguiente="ValidarTransferenciaPropia" />
                                    <EnviarActividadEconomicaSocialComponent PropiaFrmDTO="propiaFrmDTO"
                                                                             Wizard="controlador.Wizard" />
                                    @if (Error)
                                    {
                                        <ErrorActividadEconomicaSocialComponent confirmarTransferenciaDTO="confirmarTransferenciaDTO"
                                                                            Wizard="controlador.Wizard" />
                                    }
                                    else
                                    {
                                        <MensajeActividadEconomicaSocialComponent confirmarTransferenciaDTO="confirmarTransferenciaDTO"
                                                                              Wizard="controlador.Wizard" />
                                    }
                                    <WizardBotonesActividadEconomicaSocialComponent AtrasStep="controlador.AtrasStep"
                                                                                    MostrarBotonesWizard="controlador.MostrarBotonesWizard"
                                                                                    Siguiente="controlador.Siguiente" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content b-0 mt-2 mb-0">
                <TablaActividadEconomicaSocial />
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    private bool Error = false;
    private string ErrorColor = "";
    private bool EnAccion = false;
    private string usuarioSesion = "";
    private string emailSesion = "";
    private string cifSesion = "";
    private string userAgent { get; set; }
    private string ip { get; set; }
    private PropiaFrmDTO propiaFrmDTO = new PropiaFrmDTO();
    private List<CuentasDTO> cuentasDTO = new List<CuentasDTO>();
    private ConfirmarTransferenciaDTO confirmarTransferenciaDTO = new ConfirmarTransferenciaDTO();

    protected override async Task OnParametersSetAsync()
    {
        //var loader = Modal.Show<Loading>("", blazoredService.SinCerrar());
        //var obtenerSesion = await seguridadService.ObtenerSesion();
        //usuarioSesion = obtenerSesion.Usuario;
        //emailSesion = obtenerSesion.Email;
        //cifSesion = obtenerSesion.Cif;
        var obtenerCuentas = await productoAplicacion.ObtenerCuentas(new RequestCuentaDTO { cif = "          99255185" });
        cuentasDTO = obtenerCuentas.Entidad.ToList();

        foreach (var cuenta in obtenerCuentas.Entidad)
        {
            cuenta.moneda = (cuenta.moneda == "LPS") ? "L" : "$";
        }
        //loader.Close();
    }

    private async Task ValidarTransferenciaPropia()
    {
        if (EnAccion)
            return;

        EnAccion = true;
        bool validador = true;
        if (propiaFrmDTO.cuentaDestino == propiaFrmDTO.cuentaOrigen)
        {
            validador = false;
            EnAccion = false;
            await JS.ConfirmError("Advertencia", "Las cuentas deben ser diferentes", "warning");
            return;
        }

        if (validador)
        {
            var cuenta = new CuentaObtenerInformacionDTO
            {
                Cuenta = propiaFrmDTO.cuentaOrigen
            };
            var monedaCuenta = await productoAplicacion.ObtenerInformacionCuenta(cuenta);
            propiaFrmDTO.moneda = (monedaCuenta.Entidad.Moneda == "LPS") ? "L" : "$";
            EnAccion = false;
            await controlador.Siguiente();
        }
    }
}
