<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @year © Banco Popular Honduras | Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>

@code {
    private string year = DateTime.Now.Year.ToString();
}
