<a href="index.html" class="logo text-center logo-light">
    <span class="logo-lg">
        <img src="assets/images/logo.png" alt="" height="16">
    </span>
    <span class="logo-sm">
        <img src="assets/images/logo_sm.png" alt="" height="16">
    </span>
</a>
<a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
        <img src="assets/images/bancopopular.png" height="90">
    </span>
    <span class="logo-sm">
        <img src="assets/images/bancopopular-sm.png" alt="" height="50">
    </span>
</a>
