<div class="row mt-1">
    <div class="col-md-12">
        <div class="card card-border-radius">
            <div class="card-body">
                <div class="table-responsive medim-width">
                    <table class="table">
                        <thead>
                             <tr>
                                <th>N° crédito</th>
                                <th>Fecha otorgado</th>
                                <th>Fecha vencimiento</th>
                                <th>Clasificación</th>
                                <th>Segmento</th>
                                <th>CIF</th>
                                <th>Nombre cliente</th>
                                <th>Género</th>
                                <th>Edad</th>
                                <th>Nivel educativo</th>
                                <th>Profesión</th>
                                <th>Tipo de personaduría</th>
                                <th>Clase de cliente</th>
                                <th>Cargo del cliente</th>
                                <th>Rango de ingresos</th>
                                <th>Sector económico</th>
                                <th>Actividad económica</th>
                                <th>Destino económico</th>
                                <th>Categoría ambiental</th> 
                                <th>Nivel de riesgo</th>
                                <th>Departamento</th>
                                <th>Agencia</th>
                                <th>Código de la garantía</th>
                                <th>Tipo de garantía</th>
                                <th>Tipo de propiedad</th>
                                <th>Material de vivienda</th>
                                <th>Acceso a servicios públicos</th>
                                <th>Monto otorgado</th>
                                <th>Capital</th>
                                <th>Zona</th>
                                <th>Región</th>
                                <th>Saldo</th>
                                <th>Descripción tipo cliente</th>
                                <th>Número de ciclos</th>
                                <th>Nuevos</th>
                                <th>Refinanciado</th>
                                <th>Readecuado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>51209118572</td>
                                <td>12 diciembre 2021</td>
                                <td>31 diciembre 2022</td>
                                <td>Micro Otra</td>
                                <td>Micro</td>
                                <td>99388641</td>
                                <td>PEREZ LOPEZ BENIGNO</td>
                                <td>M</td>
                                <td>40</td>
                                <td>Universitario</td>
                                <td>COMERCIANTE</td>
                                <td>JURIDICO</td>
                                <td>CLIENTE  NATURAL</td>
                                <td>PROPIETARIO</td>
                                <td>=>500,000.00</td>
                                <td>SECTOR COMERCIAL</td>
                                <td>VENTA Y COMPRA DE GANADO</td>
                                <td>130104 - SILVICULTURA Y GANADERIA</td>
                                <td>A</td>
                                <td>Riesgo Alto</td>
                                <td>YORO</td>
                                <td>209-AGENCIA YORO</td>
                                <td>50000 - NOMBRE GARANTIA</td>
                                <td>TIPO GARANTIA</td>
                                <td>PROPIA</td>
                                <td>ADOBE</td>
                                <td>Tiene todos los servicios Publicos</td>
                                <td> 53,700.00 </td>
                                <td> 47,052.50 </td>
                                <td> Rural </td>
                                <td>ORIENTE</td>
                                <td>47052.5</td>
                                <td>A NUEVO</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
